<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="./home.component.css" rel="stylesheet">


<div class="content"> 
  <img src="{{ imageUrl }}" alt="Header Image" [width]="imageW" [height]="imageH" />
  <div class="center"><h1>Research Conferences</h1>
    <h6>Join our online events this 2021!</h6>
    
    <div class="button-design">
      <button (click)="showData($event)">Early Bird Registration</button>
  </div></div>
  







<hr>
<div class="hr">
  <h1 class="text"> {{ texthere }}</h1>
</div>
<hr>

<!-- Cards -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{{imageUrl1}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">France</h5>
        <p class="card-text">France, in Western Europe, encompasses medieval cities, alpine villages and Mediterranean beaches. Paris, its capital, is famed for its fashion houses, classical art museums including the Louvre and monuments like the Eiffel Tower.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 50 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{{ imageUrl2 }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Seoul</h5>
        <p class="card-text">Seoul, the capital of South Korea, is a huge metropolis where modern skyscrapers, high-tech subways and pop culture meet Buddhist temples, palaces and street markets.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 30 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{{ imageUrl3 }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">San Francisco</h5>
        <p class="card-text">San Francisco, officially the City and County of San Francisco, is the commercial, financial, and cultural center of Northern California. As of 2022, The city proper, with 808,437 residents, is the fourth most populous city in California and the 17th most populous city in the United States.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 11 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{{ imageUrl4 }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">United Kingdom</h5>
        <p class="card-text">The United Kingdom, made up of England, Scotland, Wales and Northern Ireland, is an island nation in northwestern Europe. England  birthplace of Shakespeare and The Beatles  is home to the capital, London, a globally influential centre of finance and culture.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 26 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{{ imageUrl5 }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tokyo</h5>
        <p class="card-text">Tokyo, Japan’s busy capital, mixes the ultramodern and the traditional, from neon-lit skyscrapers to historic temples. The opulent Meiji Shinto Shrine is known for its towering gate and surrounding woods.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 15 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{{ imageUrl6 }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Boston</h5>
        <p class="card-text">Boston, officially the City of Boston, is the capital and most populous city in the Commonwealth of Massachusetts in the United States. </p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br>


