<div class="content"> 
  <img src="{{ imageUrl }}" alt="Header Image" [width]="imageW" [height]="imageH" />
  <div class="center"><h1>About the Organization</h1>
    <h6>Learn how the team and committee leadership are shaping the worlds of conferences, get the lates conference news and updates on our blog, and contact us for guidance.</h6>
    
    <div class="button-design">
      <div class="text-center"><button class="btn btn-outline-dark mt-auto" (click) = "clickMe()">Click here to join!</button></div><br>
  </div></div>
  



  <div class="content2">
    <h3>About</h3>
    <p>Our website's 'About Us' section unveils the rich tapestry of our journey, weaving together the threads of our founding principles, milestones, and the dedicated individuals shaping our story. Explore the heart of our mission, values, and the collective passion propelling us towards a shared vision of innovation and service excellence.
    </p>

    <div class="button-design">
      <div class="text-center"><button class="btn btn-outline-dark mt-auto" (click) = "clickMe()">Click here to get a free gift!</button></div><br>
<p class="text-center" style="font-weight: bold;"> You claimed the gift {{ clickCount }} times.</p> 
  </div>

  <p>Our 'About Us' section encapsulates our journey, highlighting founding principles, milestones, and the passionate team driving our commitment to innovation and service excellence. Dive into the heart of our mission, values, and the collective vision shaping our story.</p>
</div>
</div>